<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">

    <test name="LogIn">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>


    <test name="Send Mail">
        <classes>
            <class name="SendMailTest"/>
        </classes>
    </test>


    <test name="Verify Unread Message after Send Mail">
        <classes>
            <class name="VerifyUnreadMsgTest"/>
        </classes>
    </test>

</suite>